# --- Secrets app ---
MASTER_KEY=
JWT_SECRET=

# --- Blockchain ---
RPC_URL=https://base-sepolia-rpc.publicnode.com
CONTRACT_ADDRESS=

# --- Database (Scaleway Serverless Postgres) ---
# Format: postgresql://USER:PASS@HOST:PORT/DBNAME?sslmode=require
# (Scaleway donne parfois postgres:// - le backend le convertit auto)
DATABASE_URL=

# Schema actif : 'test' ou 'prod'
DB_SCHEMA=test
